.footer {
  width: 100vw;
  margin-top: 0;
  background: hsla(248, 73%, 51%, 1);
  height: 10vh;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.willfulFooter {
  margin-left: 5vw;
}
.termsFooter {
  margin-left: 10vw;
}
.privacyFooter {
  margin-left: 3vw;
}
.termsFooter,
.privacyFooter,
.willfulFooter {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: white;
  text-decoration: none;
}
